%cart-nav

.alert.alert-warning.out-of-stock{role: "alert", :"ng-show" => "stockMessage"}
	{{stockMessage}}

.container.products-list
	.col-sm-4{:"ng-repeat" => "product in products"}
		.panel.panel-default
			.panel-heading
				%h3.panel-title {{product.name}}
			.panel-body
				.image
					%img{:"ng-src" => "{{product.image}}"}
				.post-info
					.row.text-center
						{{product.category}}
					.row.text-center
						{{product.price | currency:"£"}}
					.row.text-center
						{{product.quantity}} in stock
					.row.text-center
						%a{href: "#", id: "{{product.id}}", :"add-item" => "{{product.id}}", quantity: "{{product.quantity}}"} Add To Cart

