.shopping-cart
	You have ordered {{shoppingCart.length}} items








%div{:"ng-repeat" => "product in products"}
	Name: {{product.name}}
	Category: {{product.category}}
	Price: {{product.price | currency:"£"}}
	Quantity in Stock: {{product.quantity}}
	%a{href: "#", id: "{{product.id}}", :"ng-click" => "addToCart(product.id)"} Add To Cart