/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.products-list {
	margin-top: 75px;
}

.image img, img.product {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
}

.out-of-stock {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900000
}

.out-of-stock.ng-hide {
  opacity:0;
}

.panel.cart-item {
	float: none;
	margin: 0 auto;
	margin-bottom: 15px;
}

.shopping-cart {
	font-size: 30px;
}

ul.nav-options {
	height: 100%;
	line-height: 50px;
}

label.vouchers {
	display: block;
}

span.remove-item, span.remove-item:hover {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	font-size: 20px;
	opacity: 0.4;
}

span.remove-item:hover {
	opacity: 1
}

p.remove-text {
	font-size: 0.01px;
	text-indent: -9999999px;
}

span.badge {
	vertical-align: 7px;
}
