%div{:"ng-hide" => "shoppingCart"}
	You have no items in your cart

%div{:"ng-show" => "shoppingCart"}

	%div{:"ng-repeat" => "item in shoppingCart"}
		{{item.name}}
		%a{href: "#", id: "{{item.id}}", :"remove-item" => "item.id"} Remove From Cart

	%label{:"ng-repeat" => "voucher in vouchers"}
		%input{type: "checkbox", :"checklist-model" => "selectedVouchers", :"checklist-value" => "voucher"} {{voucher.name}} 

	.validation-message
		{{validationMessage}}

	.total
		Your total is: {{shoppingCart.total | currency:"£" }}


