%div{:"ng-repeat" => "item in shoppingCart"}
	{{item.name}}




%label{:"ng-repeat" => "voucher in vouchers"}
	%input{type: "checkbox", :"checklist-model" => "selectedVouchers", :"checklist-value" => "voucher"} {{voucher.name}} 



.total
	Your total is: {{shoppingCart.total | currency:"£" }}


